# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.env.*
.pytest_cache/
.coverage*
htmlcov/

# Django
/staticfiles/
/media/

# Node
node_modules/
.next/
dist/
coverage/
.env.local
.env.production

# VSCode
.vscode/

# macOS
.DS_Store
